* {box-sizing: border-box;}
.vform{  
    border-collapse:collapse;  
    border-spacing:0;  
}  
     
.vform th,.vform td{  
    padding:0;  
}  
     
.vform .vform_widget_text,
.vform .vform_widget_textarea{
    width:100%;height:100%;border:none;
}

.vform .form_check_inline{
    float:left;margin-left: 5px;
}
.vform .align-middle{
    vertical-align: middle;
}

.vform .col-form-label{
    padding: 4px 8px;
}